body 
{

}

.Class1 {
    border: 5px solid;
    margin: auto;
    margin-top:15px;
    width: 50%;
    padding: 10px;
    text-align:center;
}

#Name 
{

}

#Mobno
{

}

#Email h4 
{
        
}
.Buttons
{
    margin-top:10px;
}
#tableid {
    
}
.Class2 {
    
}
table
{
    margin-top:10px;
}
.grid-column {
    margin-right: 20px;
}